<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div class="container mb-4">
            <h1>New Article</h1>
        <form method="post" action="/update-done/<%= data.id %>">
            <div class="form-group">
              <label>Title</label>
              <input required type="text" class="form-control" name="title" placeholder="" value="<%= data.title %>" >
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea type="text" class="form-control" name="description" placeholder=""><%= data.description %></textarea>
              </div>
           
              <div class="form-group">
                <label>Story</label>
                <textarea required type="text" class="form-control" name="story" placeholder="" rows="8"><%= data.story %></textarea>
              </div>

              <input type="submit" class="btn btn-primary">
          </form>
        </div>

    </body>
</html>